{% extends 'base.html'%}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}
  

      
    <!--user comment code-->
    <div class="container" style="padding-top: 50px;">
      <div class="box" style="background-color: white;">
        <div class="row">
          <h3 style="text-align: center;"> {{user.username| upper}} </h3>
        </div>
        <div class="row">
          <div class="col s4">
            {% if user.profile_pic_path %}
            <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="circle responsive-img" style="max-height: 400px; max-width: 400px;">
            {%else%}
            <p>No profile picture</p>
            {% endif %}
            {% if user == current_user %}
            <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">
              <input type="file"  name="photo" class="form-control" required>
              <input type="submit">
            </form>
            {% endif %}
          </div>
          <div class="col s2"></div>
          <div class="col s6">
            {% if user.bio %}
            <h3></h3>
            <p> {{user.bio}}</p>
            {%else%}
            <p> {{user.username| capitalize}} has no bio </p>
            {% endif %}
            {% if user == current_user %}
            <button><a href="{{url_for('main.update_profile',uname=user.username)}}">Edit profile</a></button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    
  </div>
{% endblock %}