{% extends 'base.html'%}
{% import "material/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}

<div class="container" style="padding: 20px; color: white;">
  <div class="row"></div>
  <div class="row">
    <h5 style="text-align: center;">Sign up here</h5>
    <div class="col s2"> </div>
    
      <div class="col s8" style="color: white;">

        {{wtf.quick_form(registration_form)}}

      </div>
    <div class="col s2"></div>
  </div>
</div>

{% endblock%}