{% extends 'base.html'%}

{% block content %}

<!--error message here-->

<body style="text-align: center; background-image: url(../static/photos/404.jpg); background-repeat: no-repeat; background-size: cover">
  <div class="container" style="vertical-align: middle;">
    <div class="row">
      <div class="card">
        <h5>You are way ahead of us :(</h5>
        <h6>Whatever you are looking for does not exist yet. Let's go back <a href="/">home</a></h6>
      </div>
    </div>
  </div>
</body>

{% endblock %}