{% extends 'base.html'%}
{% import "material/wtf.html" as wtf %}

<!-- Styles block -->



{% block content %}
    <div class="container">
      {% for message in get_flashed_messages() %}
      <div class="alert card green lighten-4 green-text text-darken-4">
        <div class="card-content">
          <p><i class="material-icons">check_circle</i><span>{{message}}</span></p>
          <!--<button class="card-close waves-effect waves-green btn-flat">Close</button>-->
        </div>
      </div>
      {% endfor %}
        <div class="row">
          <div class="card">
            <div class="card-body" style="font-size: 20px;">
              <h5 class="card-title" style="font-size: 24px;">{{posts.title|upper}}</h5>
              <p class="card-text">{{posts.content}}</p>
              <p>Posted by: <a href="#" class="card-link text-muted">{{posts.user.username}}</a></p>
            </div>
            <!--<p><a class="btn btn-warning" href="/edit_post" role="button">Edit post</a></p>-->
            {% if posts.user.id == current_user.id %}
            <p><a class="btn btn-warning" href="{{url_for('main.edit_post', id=posts.id) }}" role="button">Edit post</a></p>

            <a class="btn btn-warning" href="{{url_for('main.delete_post', id=posts.id)}}" role="button">Delete post</a>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            
            <ul>
                {% if comments %} 
                <h5>Comments</h5>
                  {% for comment in comments %}
                    <li>
                      
                      <p>{{comment.comment}}</p>
                      <p>Posted by: {{user.username}}</p>
                      <a class="btn btn-warning" href="" role="button">Delete comment</a>
                    </li>
                  {% endfor %}
                {%else%}
                  <p>This post has no comments yet</p>  
                {% endif %}
            </ul>
          </div>
          <div class="col-md-6">
            <h2>Leave a comment</h2>
            {{ wtf.quick_form(comment_form) }}
          </div>
          <div class="col-md-3"></div>
        </div>
    </div>

{% endblock %}